<DOCTYPE html>
  <html lang="ja">
    <head>
      <meta charset="utf-8">
      <title>BBS</title>
    </head>
    <body style="text-align:center">
      <h1>BBS</h1>

      <h2>Add New</h2>
      <form method="post" action="/new">
        <input type="text" name="body" placeholder="名無し"><br /><br />
        <textarea name="char" placeholder="文の入力"></textarea><br />
        <input type="submit" value="post!">
      </form><br />

      <u1>
        <% @comments.each do |comment| %>
        <li data-id="<%= comment.id %>">
          <%= h comment.body %>
          <span class="deleteCmd" style="cursor:pointer;color:blue">[x]</span>
        </li>
        <% end %>
      </u1>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">         </script>
      <script>
        $('.deleteCmd').click(function() {
          var el = $(this).parent();
          if(confirm('are you sure to delete?')) {
            $.post('/delete', {
              id: el.data('id')
            }, function() {
              el.fadeOut(800);
            });
          }
        })
      </script>
    </body>
  </html>